[cdp-infra-tools]
name=CDP Infra Tools
baseurl=https://cloudera-build-us-west-1.vpc.cloudera.com/s3/build/69373518/cdp-infra-tools/0.x/{{ platform }}/yum/
enabled=1
priority=1
gpgcheck=1
gpgkey=https://cloudera-build-us-west-1.vpc.cloudera.com/s3/build/69373518/cdp-infra-tools/0.x/{{ platform }}/yum/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
