[cdp-infra-tools]
name=CDP Infra Tools
baseurl=https://archive.cloudera.com/cdp-infra-tools/latest/{{ platform }}/yum/
enabled=1
priority=1
gpgcheck=1
gpgkey=https://archive.cloudera.com/cdp-infra-tools/latest/{{ platform }}/yum/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
