versions:
  docker: {{ .Config.PackerUserVars.yum_version_docker }}
  kernel: {{ .Config.PackerUserVars.yum_version_kernel }}
  systemd: {{ .Config.PackerUserVars.yum_version_systemd }}
  cbd: {{ .Config.PackerUserVars.cbd_version }}
{{ if .Meta }}
aws:{{ range $reg, $ami := .Meta}}
  {{$reg}}: {{$ami}}{{end}}
{{end}}
