versions:
  docker: {{ .Config.PackerUserVars.yum_version_docker }}
  kernel: {{ .Config.PackerUserVars.yum_version_kernel }}
  systemd: {{ .Config.PackerUserVars.yum_version_systemd }}
  cloudbreak_image: {{ .Config.PackerUserVars.cloudbreak_image_version }}
docker_images:
  all: "{{ .Config.PackerUserVars.cb_docker_container_ambari_base }},{{ .Config.PackerUserVars.cb_docker_container_docker_consul_watch_plugn }},{{ .Config.PackerUserVars.cb_docker_container_registrator }},{{ .Config.PackerUserVars.cb_docker_container_logrotate }},{{ .Config.PackerUserVars.cb_docker_container_kerberos }},{{ .Config.PackerUserVars.cb_docker_container_ambari_db }},{{ .Config.PackerUserVars.cb_docker_container_munchausen }},{{ .Config.PackerUserVars.cb_docker_container_consul }},{{ .Config.PackerUserVars.cb_docker_container_gateway }},{{ .Config.PackerUserVars.cb_docker_container_alpine }},{{ .Config.PackerUserVars.cb_docker_container_swarm }},{{ .Config.PackerUserVars.cb_docker_container_cert_tool }},{{ .Config.PackerUserVars.cb_docker_container_haveged }},{{ .Config.PackerUserVars.cb_docker_container_ldap }},{{ .Config.PackerUserVars.cb_docker_container_list_others }}"
  cb_docker_container_ambari_base: {{ .Config.PackerUserVars.cb_docker_container_ambari_base }}
  cb_docker_container_docker_consul_watch_plugn: {{ .Config.PackerUserVars.cb_docker_container_docker_consul_watch_plugn }}
  cb_docker_container_registrator: {{ .Config.PackerUserVars.cb_docker_container_registrator }}
  cb_docker_container_logrotate: {{ .Config.PackerUserVars.cb_docker_container_logrotate }}
  cb_docker_container_kerberos: {{ .Config.PackerUserVars.cb_docker_container_kerberos }}
  cb_docker_container_ambari_db: {{ .Config.PackerUserVars.cb_docker_container_ambari_db }}
  cb_docker_container_munchausen: {{ .Config.PackerUserVars.cb_docker_container_munchausen }}
  cb_docker_container_consul: {{ .Config.PackerUserVars.cb_docker_container_consul }}
  cb_docker_container_gateway: {{ .Config.PackerUserVars.cb_docker_container_gateway }}
  cb_docker_container_alpine: {{ .Config.PackerUserVars.cb_docker_container_alpine }}
  cb_docker_container_swarm: {{ .Config.PackerUserVars.cb_docker_container_swarm }}
  cb_docker_container_cert_tool: {{ .Config.PackerUserVars.cb_docker_container_cert_tool }}
  cb_docker_container_haveged: {{ .Config.PackerUserVars.cb_docker_container_haveged }}
  cb_docker_container_ldap: {{ .Config.PackerUserVars.cb_docker_container_ldap }}
  cb_docker_container_list_others: {{ .Config.PackerUserVars.cb_docker_container_list_others }}:
azure_rm:
  id: {{ .Artifact.Id }}
  desc: {{ .Artifact }}
  East Asia: https://sequenceiqeastasia2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  East US: https://sequenceiqeastus12.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  Central US: https://sequenceiqcentralus2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  North Europe: https://sequenceiqnortheurope2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  South Central US: https://sequenceiqouthcentralus2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  North Central US: https://sequenceiqorthcentralus2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  East US 2: https://sequenceiqeastus22.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  Japan East: https://sequenceiqjapaneast2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  Japan West: https://sequenceiqjapanwest2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  Southeast Asia: https://sequenceiqsoutheastasia2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  West US: https://sequenceiqwestus2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  West Europe: https://sequenceiqwesteurope2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  Brazil South: https://sequenceiqbrazilsouth2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
