versions:
  kernel: {{ .Config.PackerUserVars.yum_version_kernel }}
  systemd: {{ .Config.PackerUserVars.yum_version_systemd }}
  cloudbreak_image: {{ .Config.PackerUserVars.cloudbreak_image_version }}
azure_rm:
  id: {{ .Artifact.Id }}
  desc: {{ .Artifact }}
  EAST_ASIA: https://sequenceiqeastasia2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  EAST_US: https://sequenceiqeastus2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  CENTRAL_US: https://sequenceiqcentralus2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  NORTH_EUROPE: https://sequenceiqnortheurope2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  SOUTH_CENTRAL_US: https://sequenceiqsouthcentralus2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  NORTH_CENTRAL_US: https://sequenceiqnorthcentralus2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  EAST_US_2: https://sequenceiqeastus22.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  JAPAN_EAST: https://sequenceiqjapaneast2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  JAPAN_WEST: https://sequenceiqjapanwest2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  SOUTHEAST_ASIA: https://sequenceiqsoutheastasia2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  WEST_US: https://sequenceiqwestus2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  WEST_EUROPE: https://sequenceiqwesteurope2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  BRAZIL_SOUTH: https://sequenceiqbrazilsouth2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  CANADA_CENTRAL: https://sequenceiqcanadacentral.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  CANADA_EAST: https://sequenceiqcanadaeast.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
