versions:
  docker: {{ .Config.PackerUserVars.yum_version_docker }}
  kernel: {{ .Config.PackerUserVars.yum_version_kernel }}
  systemd: {{ .Config.PackerUserVars.yum_version_systemd }}
  cbd: {{ .Config.PackerUserVars.cbd_version }}
azure_rm:
  id: {{ .Artifact.Id }}
  desc: {{ .Artifact }}
  EAST_ASIA: https://sequenceiqeastasia.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  EAST_US: https://sequenceiqeastus.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  CENTRAL_US: https://sequenceiqcentralus.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  NORTH_EUROPE: https://sequenceiqnortheurope.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  SOUTH_CENTRAL_US: https://sequenceiqsouthcentralus.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  NORTH_CENTRAL_US: https://sequenceiqnorthcentralus.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  EAST_US_2: https://sequenceiqeastus2.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  JAPAN_EAST: https://sequenceiqjapaneast.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  JAPAN_WEST: https://sequenceiqjapanwest.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  SOUTHEAST_ASIA: https://sequenceiqsoutheastasia.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  WEST_US: https://sequenceiqwestus.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  WEST_EUROPE: https://sequenceiqwesteurope.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd
  BRAZIL_SOUTH: https://sequenceiqbrazilsouth.blob.core.windows.net/images/{{ .Artifact.Id }}.vhd

