#!/bin/sh

echo "===> glance cli will download {{ .Config.PackerUserVars.os_image_name }}.img"

docker run \
    -v $PWD:/work \
    -w /work \
    -e OS_IMAGE_NAME=$OS_IMAGE_NAME \
    -e OS_AUTH_URL=$OS_AUTH_URL \
    -e OS_PASSWORD=$OS_PASSWORD \
    -e OS_TENANT_NAME=$OS_TENANT_NAME \
    -e OS_USERNAME=$OS_USERNAME \
    sequenceiq/glance-cli:0.19.0 \
    image-download --file {{ .Config.PackerUserVars.os_image_name }}.img {{ .Config.PackerUserVars.os_image_name }}

ls -lrth *.img || true
