versions:
  docker: {{ .Config.PackerUserVars.yum_version_docker }}
  kernel: {{ .Config.PackerUserVars.yum_version_kernel }}
  systemd: {{ .Config.PackerUserVars.yum_version_systemd }}
  cloudbreak_image: {{ .Config.PackerUserVars.cloudbreak_image_version }}
images:
  all: "{{ .Config.PackerUserVars.cb_docker_container_ambari_warmup }},{{ .Config.PackerUserVars.cb_docker_container_ambari }},{{ .Config.PackerUserVars.cb_docker_container_docker_consul_watch_plugn }},{{ .Config.PackerUserVars.cb_docker_container_registrator }},{{ .Config.PackerUserVars.cb_docker_container_baywatch_server }},{{ .Config.PackerUserVars.cb_docker_container_baywatch_client }},{{ .Config.PackerUserVars.cb_docker_container_logrotate }},{{ .Config.PackerUserVars.cb_docker_container_kerberos }},{{ .Config.PackerUserVars.cb_docker_container_ambari_db }},{{ .Config.PackerUserVars.cb_docker_container_munchausen }},{{ .Config.PackerUserVars.cb_docker_container_consul }},{{ .Config.PackerUserVars.cb_docker_container_gateway }},{{ .Config.PackerUserVars.cb_docker_container_alpine }},{{ .Config.PackerUserVars.cb_docker_container_swarm }},{{ .Config.PackerUserVars.cb_docker_container_cert_tool }},{{ .Config.PackerUserVars.cb_docker_container_list_others }}"
  ambari_warmup: {{ .Config.PackerUserVars.cb_docker_container_ambari_warmup }}
  ambari: {{ .Config.PackerUserVars.cb_docker_container_ambari }}
  docker_consul_watch_plugn: {{ .Config.PackerUserVars.cb_docker_container_docker_consul_watch_plugn }}
  registrator: {{ .Config.PackerUserVars.cb_docker_container_registrator }}
  baywatch_server: {{ .Config.PackerUserVars.cb_docker_container_baywatch_server }}
  baywatch_client: {{ .Config.PackerUserVars.cb_docker_container_baywatch_client }}
  logrotate: {{ .Config.PackerUserVars.cb_docker_container_logrotate }}
  kerberos: {{ .Config.PackerUserVars.cb_docker_container_kerberos }}
  ambari_db: {{ .Config.PackerUserVars.cb_docker_container_ambari_db }}
  munchausen: {{ .Config.PackerUserVars.cb_docker_container_munchausen }}
  consul: {{ .Config.PackerUserVars.cb_docker_container_consul }}
  gateway: {{ .Config.PackerUserVars.cb_docker_container_gateway }}
  alpine: {{ .Config.PackerUserVars.cb_docker_container_alpine }}
  swarm: {{ .Config.PackerUserVars.cb_docker_container_swarm }}
  cert_tool: {{ .Config.PackerUserVars.cb_docker_container_cert_tool }}
openstack:
  id: {{ .Artifact.Id }}
  name: {{ .Config.PackerUserVars.os_image_name }}
