[Install]
WantedBy=multi-user.target

[Unit]
Description=CB bootstrap Service
After=network.target network.service

[Service]
Restart=on-failure
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
ExecStart=/sbin/cloudbreak-bootstrap
Environment='CBBOOT_PORT=7070'
