[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target docker.socket cloud-final.service waagent.service google-startup-scripts.service
Requires=docker.socket
Wants=cloud-final.service waagent.service google-startup-scripts.service

[Service]
ExecStart=/usr/bin/docker daemon --exec-opt native.cgroupdriver=cgroupfs -H fd:// -H tcp://0.0.0.0:2376 --selinux-enabled=false --storage-driver=overlay
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
