policy_module(cdp-user-data-helper, 1.0.0)

require {
    type cdp_user_data_helper_t, cdp_user_data_helper_exec_t;
}
init_daemon_domain(cdp_user_data_helper_t, cdp_user_data_helper_exec_t)

require {
    type cdp_user_data_helper_log_t, cloud_log_t;
}

manage_dirs_pattern(cdp_user_data_helper_t, cloud_log_t, cdp_user_data_helper_log_t)
manage_files_pattern(cdp_user_data_helper_t, cloud_log_t, cdp_user_data_helper_log_t)
logging_log_filetrans(cdp_user_data_helper_t, cdp_user_data_helper_log_t, file)