policy_module(cdp-user-data-helper, 1.0.0)

# Allow the unconfined_t domain to automatically transition to the cdp_user_data_helper_t domain
gen_require(`
    type cdp_user_data_helper_exec_t;
    type cdp_user_data_helper_t;
    type unconfined_t;
')
domtrans_pattern(unconfined_t, cdp_user_data_helper_exec_t, cdp_user_data_helper_t)

gen_require(`
    type cdp_salt_bootstrap_cert_t;
    type cdp_salt_bootstrap_etc_t;
    type cdp_user_data_helper_log_t;
    type cloud_init_t;
    type etc_t;
    type var_log_t;
')

filetrans_pattern(cloud_init_t, var_log_t, cdp_user_data_helper_log_t, file, "user-data.log")
filetrans_pattern(cloud_init_t, etc_t, cdp_salt_bootstrap_etc_t, dir, "salt-bootstrap")
filetrans_pattern(cloud_init_t, cdp_salt_bootstrap_etc_t, cdp_salt_bootstrap_etc_t, file, "security-config.yml")
filetrans_pattern(cloud_init_t, cdp_salt_bootstrap_etc_t, cdp_salt_bootstrap_cert_t, dir, "certs")
filetrans_pattern(cloud_init_t, cdp_salt_bootstrap_cert_t, cdp_salt_bootstrap_cert_t, file, "ca.pem")
filetrans_pattern(cloud_init_t, cdp_salt_bootstrap_cert_t, cdp_salt_bootstrap_cert_t, file, "saltboot-key.pem")
filetrans_pattern(cloud_init_t, cdp_salt_bootstrap_cert_t, cdp_salt_bootstrap_cert_t, file, "saltboot.pem")