# CB-30533: Prevent cloud-init from formatting/mounting the Azure ephemeral resource disk.
# Complements waagent ResourceDisk.Format/EnableSwap/MountPoint settings.
mounts:
  - [ephemeral0, null]
  - [ephemeral0.1, null]

disk_setup:
  ephemeral0:
    layout: false
