policy_module(cdp-blackbox-exporter, 1.0.0)

gen_require(`
    type cdp_blackbox_exporter_t;
    type cdp_blackbox_exporter_exec_t;
    type cdp_blackbox_exporter_conf_t;
    type cdp_blackbox_exporter_cert_t;
    type cdp_blackbox_exporter_systemd_unit_file_t;
')

cdp_manage_pattern(cdp_blackbox_exporter_t, cdp_blackbox_exporter_conf_t)

# network
gen_require(`
    type cdp_blackbox_exporter_port_t;
')
corenet_tcp_connect_http_port(cdp_blackbox_exporter_t)
allow cdp_blackbox_exporter_t cdp_blackbox_exporter_port_t:tcp_socket { name_bind };
allow cdp_blackbox_exporter_t self:tcp_socket { accept listen };

# Read necessary system settings
cdp_read_network_sysctl(cdp_blackbox_exporter_t)
cdp_read_sysfs(cdp_blackbox_exporter_t)
