[Unit]
Description=CDP-LUKS volume reopen script service
ConditionPathIsMountPoint=!/mnt/cdp-luks
ConditionFileNotEmpty=/etc/cdp-luks/passphrase_encryption_key
ConditionFileNotEmpty=/etc/cdp-luks/passphrase_ciphertext
After=network-online.target
Wants=network-online.target
Before=salt-bootstrap.service
Before=salt-api.service
Before=salt-master.service
Before=salt-minion.service
Before=nginx.service
Before=sssd.service
Before=jumpgate-agent.service
Before=ipa.service
Before=gssproxy.service
Before=cdp-freeipa-healthagent.service
Before=cdp-freeipa-ldapagent.service
Before=cloudera-scm-server.service
Before=cloudera-scm-agent.service
StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=oneshot
ExecStart=/etc/cdp-luks/bin/reopen-luks-volume.sh
RemainAfterExit=yes
Restart=on-failure
TimeoutSec=30

[Install]
WantedBy=network-online.target
