[Unit]
Description=CDP-LUKS volume reopen script service
ConditionPathIsMountPoint=!/mnt/cdp-luks
ConditionFileNotEmpty=/etc/cdp-luks/passphrase_encryption_key
ConditionFileNotEmpty=/etc/cdp-luks/passphrase_ciphertext
#TODO Add a Before directive here for services, which will have secrets stored in the LUKS volume
#Note: Adding a Before directive for a service should only be absolutely necessary,
#      if otherwise it would start before or in parallel with this service
#      (for example, if it also starts when network-online.target is reached)
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/etc/cdp-luks/bin/reopen-luks-volume.sh 2>&1 | tee /var/log/cdp-luks/reopen-luks-volume-$(date +"%F-%T").log && exit ${PIPESTATUS[0]}'
RemainAfterExit=yes
Restart=on-failure
TimeoutSec=30

[Install]
WantedBy=network-online.target
