[Unit]
Description=Salt Master
After=syslog.target network.target

[Service]
Type=simple
Restart=always
ExecStart=/opt/salt/scripts/salt-python-wrapper.sh {{ pillar['salt_path'] }}/bin/salt-master

[Install]
WantedBy=multi-user.target