[Unit]
Description=Salt API
After=syslog.target network.target

[Service]
Type=simple
Restart=always
ExecStart={{ pillar['salt_path'] }}/bin/python {{ pillar['salt_path'] }}/bin/salt-api

[Install]
WantedBy=multi-user.target