[Unit]
Description=Salt API
After=syslog.target network.target

[Service]
Type=simple
Restart=always
ExecStartPre=restorecon -vFi /opt/salt/scripts/salt-api-wrapper.sh
ExecStart=/opt/salt/scripts/salt-api-wrapper.sh

[Install]
WantedBy=multi-user.target