[Unit]
Description=Salt Master
After=syslog.target network.target

[Service]
Type=simple
Restart=always
ExecStartPre=-/sbin/restorecon -vFi /opt/salt/scripts/salt-master-wrapper.sh
ExecStart=/opt/salt/scripts/salt-master-wrapper.sh

[Install]
WantedBy=multi-user.target