[Unit]
Description=Salt Minion
After=syslog.target network.target

[Service]
Type=simple
Restart=always
ExecStartPre=restorecon -vFi /opt/salt/scripts/salt-minion-wrapper.sh
ExecStart=/opt/salt/scripts/salt-minion-wrapper.sh

[Install]
WantedBy=multi-user.target

[Service]
Environment="SHELL=/bin/bash"
