[Unit]
Description=Salt API
After=syslog.target network.target

[Service]
Type=simple
Restart=always
ExecStart=/opt/salt/scripts/salt-python-wrapper.sh {{ pillar['salt_path'] }}/bin/salt-api

[Install]
WantedBy=multi-user.target