[Unit]
Description=Salt Minion
After=syslog.target network.target

[Service]
Type=simple
Restart=always
ExecStart=/opt/salt/scripts/salt-minion-wrapper.sh
SELinuxContext=system_u:system_r:initrc_t:s0

[Install]
WantedBy=multi-user.target

[Service]
Environment="SHELL=/bin/bash"
