[Unit]
Description=Node Exporter

[Service]
Type=simple
EnvironmentFile=/etc/default/node_exporter
ExecStart=/usr/local/bin/node_exporter $DAEMON_ARGS
Restart=on-failure

[Install]
WantedBy=default.target
