module hostname_policy 1.0;

require {
	type hostname_etc_t;
	type hostname_t;
	class file open;
}

#============= hostname_t ==============
allow hostname_t hostname_etc_t:file open;