module httpd_cert_policy 1.0;

require {
    type httpd_t;
    attribute file_type;
    class dir { search };
    class file { read open };
}

type httpd_cert_t;
typeattribute httpd_cert_t file_type;

allow httpd_t httpd_cert_t:dir search;
allow httpd_t httpd_cert_t:file { read open };