policy_module(cdp-nginx, 1.0.0)

gen_require(`
	type cdp_httpd_cert_t;
	type httpd_t;
	type httpd_sys_script_t;
	type init_t;
	class file getattr;
	class unix_stream_socket ioctl;
')

init_ioctl_stream_sockets(httpd_sys_script_t)