policy_module(cdp-ipahealthagent, 1.0.0)

gen_require(`
    type bin_t, shell_exec_t, usr_t, var_log_t, ipa_var_lib_t;
    class file { execute map read write open create getattr };
    class dir { search add_name write };
')

type cdp_ipahealthagent_t;
type cdp_ipahealthagent_exec_t;
type cdp_ipahealthagent_cert_t;

init_daemon_domain(cdp_ipahealthagent_t, cdp_ipahealthagent_exec_t)

type_transition systemd_t cdp_ipahealthagent_exec_t:process cdp_ipahealthagent_t;
allow systemd_t cdp_ipahealthagent_exec_t:file { read open execute map };

type_transition init_t cdp_ipahealthagent_exec_t:process cdp_ipahealthagent_t;

# Allow execution
allow cdp_ipahealthagent_t bin_t:file { execute execute_no_trans map };
allow cdp_ipahealthagent_t shell_exec_t:file { execute execute_no_trans map };

# Allow script execution
allow cdp_ipahealthagent_t usr_t:file { execute map };

# Allow log writing
allow cdp_ipahealthagent_t var_log_t:file { create open write getattr append };
allow cdp_ipahealthagent_t var_log_t:dir { search write add_name };

# Allow access to IPA certs
allow cdp_ipahealthagent_t ipa_var_lib_t:dir search;
allow cdp_ipahealthagent_t ipa_var_lib_t:file { read getattr };

allow cdp_ipahealthagent_t cdp_ipahealthagent_cert_t:file { read getattr open };