[Unit]
Description= ClusterConnectivityManagementV2 Inverting proxy agent service
ConditionPathExists=/cdp/bin/ccmv2/config.toml
ConditionPathExists=/cdp/bin/ccmv2/inverting-proxy-agent
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/cdp/bin/ccmv2/run-inverting-proxy-agent.sh
Restart=always
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target