[Unit]
Description=AutoSSH tunnel service for user %i
ConditionPathExists=/cdp/bin/reverse-tunnel-values-%i.sh
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/cdp/bin/reverse-tunnel.sh %i
Restart=always

[Install]
WantedBy=multi-user.target
