policy_module(cdp-httpd, 1.0.0)

gen_require(`
    type httpd_sys_script_t;
    type httpd_t;
    type cdp_httpd_cert_t;
')

apache_search_config(httpd_sys_script_t)
init_ioctl_stream_sockets(httpd_sys_script_t)
search_dirs_pattern(httpd_t, cdp_httpd_cert_t, cdp_httpd_cert_t)
read_files_pattern(httpd_t, cdp_httpd_cert_t, cdp_httpd_cert_t)
