policy_module(cdp-ipaldapagent, 1.0.0)

gen_require(`
    type default_t;
')

type cdp_ipaldapagent_t;
type cdp_ipaldapagent_exec_t;
type cdp_ipaldapagent_cert_t;

init_daemon_domain(cdp_ipaldapagent_t, cdp_ipaldapagent_exec_t)

type_transition init_t cdp_ipaldapagent_exec_t:process cdp_ipaldapagent_t;
allow init_t cdp_ipaldapagent_exec_t:file { read open execute map };

# Allow execution of binaries in bin_t without transition
corecmd_exec_bin(cdp_ipaldapagent_t)

# Allow execution of shell scripts
corecmd_exec_shell(cdp_ipaldapagent_t)

# Allow access to default_t dir and files (generic)
files_create_file(cdp_ipaldapagent_t, default_t, file)
files_rw_generic_tmp_dirs(cdp_ipaldapagent_t)
files_manage_generic_tmp_dirs(cdp_ipaldapagent_t)

# Allow reading /etc/passwd and similar files
files_read_etc_files(cdp_ipaldapagent_t)

# Allow file system association (e.g. mounting or labeling)
files_associate(cdp_ipaldapagent_t)

# Allow creation of subdirectories and files in its own domain
allow cdp_ipaldapagent_t self:dir { write add_name create };