[Install]
WantedBy={{ pillar['salt_bootstrap_target'] }}.target

[Unit]
Description=Salt Bootstrap Service
After=network.target
After=network.service
After=cloud-final.service
After=waagent.service
After=google-startup-scripts.service
Wants=cloud-final.service
Wants=waagent.service
Wants=google-startup-scripts.service

[Service]
Restart=on-failure
TimeoutSec=15s
RestartSec=5s
ExecStart=/usr/sbin/salt-bootstrap
Environment='SALTBOOT_PORT=7070'
