policy_module(cdp-common, 1.0.0)

########################################
#
# salt
#

# Define the cdp_salt_t and cdp_salt_exec_t domains, and set them up as a systemd domain
systemd_domain_template(cdp_salt)
systemd_domain_template(cdp_ipahealthagent)
systemd_domain_template(cdp_ipaldapagent)

# Define the cdp_salt_systemctl_t domain, which is used for processes started executing systemctl
systemd_systemctl_domain(cdp_salt)
systemd_systemctl_domain(cdp_ipahealthagent)
systemd_systemctl_domain(cdp_ipaldapagent)

# Define salt related file types
type cdp_salt_bin_t;
type cdp_salt_cert_t;
type cdp_salt_etc_t;
type cdp_salt_lib_t;
type cdp_salt_srv_t;
type cdp_salt_systemd_unit_file_t;
type cdp_salt_var_cache_t;
type cdp_salt_var_lock_t;
type cdp_salt_var_log_t;
type cdp_salt_var_run_t;

# Give the salt related file types the needed type attributes
files_type(cdp_salt_bin_t)
miscfiles_cert_type(cdp_salt_cert_t)
files_config_file(cdp_salt_etc_t)
files_type(cdp_salt_lib_t)
files_type(cdp_salt_srv_t)
systemd_unit_file(cdp_salt_systemd_unit_file_t)
files_type(cdp_salt_var_cache_t)
files_lock_file(cdp_salt_var_lock_t)
logging_log_file(cdp_salt_var_log_t)
files_pid_file(cdp_salt_var_run_t)


########################################
#
# salt-bootstrap
#
type cdp_salt_bootstrap_t;
type cdp_salt_bootstrap_exec_t;

type cdp_salt_bootstrap_etc_t;
files_type(cdp_salt_bootstrap_etc_t)

type cdp_salt_bootstrap_log_t;
logging_log_file(cdp_salt_bootstrap_log_t)

gen_require(`
    attribute defined_port_type;
    attribute port_type;
    attribute unreserved_port_type;
')
type cdp_salt_bootstrap_port_t, port_type, defined_port_type;
typeattribute cdp_salt_bootstrap_port_t unreserved_port_type;

type cdp_salt_bootstrap_unconfined_t;

type cdp_salt_bootstrap_cert_t;
miscfiles_cert_type(cdp_salt_bootstrap_cert_t)


########################################
#
# httpd
#
type cdp_httpd_cert_t;

miscfiles_cert_type(cdp_httpd_cert_t)


########################################
#
# ipa
#
type cdp_ipa_management_t;
type cdp_ipa_management_exec_t;

domain_type(cdp_ipa_management_t)
domain_entry_file(cdp_ipa_management_t, cdp_ipa_management_exec_t)
role system_r types cdp_ipa_management_t;


########################################
#
# TEMPORARILY PERMISSIVE DOMAINS
#
# These domains are made permissive until sufficient testing has been done and most possible denies have been resolved.
# Denies will still be logged, but will not actually cause access to be denied.
#
# TODO - Remove these lines once their domain is thoroughly tested.
#
permissive cdp_salt_t;
permissive cdp_salt_systemctl_t;
permissive cdp_ipa_management_t;
