interface(`cdp_manage_pattern',`
    manage_dirs_pattern($1, $2, $2)
    manage_files_pattern($1, $2, $2)
    manage_lnk_files_pattern($1, $2, $2)
    manage_sock_files_pattern($1, $2, $2)
')

interface(`cdp_fs_getattr',`
    gen_require(`
        class filesystem { getattr };
    ')

    allow $1 $2:filesystem { getattr };
')

interface(`cdp_connectto_unix_stream_socket',`
    gen_require(`
        class unix_stream_socket { connectto };
    ')

    allow $1 $2:unix_stream_socket connectto;
')

interface(`cdp_read_network_sysctl',`
    gen_require(`
        type sysctl_net_t;
    ')

    allow $1 sysctl_net_t:dir { search };
    allow $1 sysctl_net_t:file { open read };
')

interface(`cdp_read_sysfs',`
    gen_require(`
        type sysfs_t;
    ')

    allow $1 sysfs_t:dir { read };
    allow $1 sysfs_t:file { getattr open read };
    allow $1 sysfs_t:lnk_file { read };
')
