policy_module(cdp-common, 1.0.0)

########################################
#
# Salt
#
type cdp_salt_etc_t;
files_type(cdp_salt_etc_t)

type cdp_salt_cert_t;
miscfiles_cert_type(cdp_salt_cert_t)

type cdp_salt_srv_t;
files_type(cdp_salt_srv_t)

########################################
#
# salt-bootstrap
#
type cdp_salt_bootstrap_t;
type cdp_salt_bootstrap_exec_t;

type cdp_salt_bootstrap_etc_t;
files_type(cdp_salt_bootstrap_etc_t)

type cdp_salt_bootstrap_log_t;
logging_log_file(cdp_salt_bootstrap_log_t)

require {
    attribute port_type, defined_port_type, unreserved_port_type;
}
type cdp_salt_bootstrap_port_t, port_type, defined_port_type;
typeattribute cdp_salt_bootstrap_port_t unreserved_port_type;

type cdp_salt_bootstrap_unconfined_t;

type cdp_salt_bootstrap_cert_t;
miscfiles_cert_type(cdp_salt_bootstrap_cert_t)
