policy_module(cdp-postgresql, 1.0.0)

gen_require(`
    type postgresql_t;
    type postgresql_exec_t;
    type postgresql_db_t;
    type postgresql_log_t;
')

########################################
#
# cdp-postgresql customized policy
#
