policy_module(cdp-salt, 1.0.0)

gen_require(`
    type NetworkManager_etc_t;
    type NetworkManager_initrc_exec_t;
    type cdp_httpd_cert_t;
    type cdp_salt_systemctl_t;
    type cdp_salt_t;
    type certmonger_unit_file_t;
    type crontab_exec_t;
    type dirsrv_exec_t;
    type dirsrv_tmpfs_t;
    type dirsrv_var_lock_t;
    type entropyd_t;
    type games_exec_t;
    type hostname_etc_t;
    type ipa_custodia_dmldap_exec_t;
    type ipa_custodia_ra_agent_exec_t;
    type ipa_dnskey_unit_file_t;
    type ipa_otpd_unit_file_t;
    type kadmind_log_t;
    type kmod_var_run_t;
    type krb5_conf_t;
    type krb5kdc_t;
    type lib_t;
    type named_conf_t;
    type pkcs11_modules_conf_t;
    type pki_log_t;
    type pki_tomcat_cert_t;
    type postgresql_unit_file_t;
    type pstore_t;
    type realmd_var_lib_t;
    type root_t;
    type semanage_exec_t;
    type setsebool_exec_t;
    type showmount_exec_t;
    type sshd_exec_t;
    type sshd_key_t;
    type sssd_conf_t;
    type system_cron_spool_t;
    type systemd_notify_exec_t;
    type tomcat_exec_t;
    type tomcat_t;
    type tracefs_t;
    type var_lib_t;
    type var_lock_t;
    type var_log_t;
    type var_run_t;
    type unconfined_service_t;
    class file read_file_perms;
    class service { start status stop };
    class netlink_route_socket { nlmsg_write };
    class netlink_selinux_socket { bind create };
    class passwd { rootok };
    class process { execmem setrlimit setsched signull };
    class capability { dac_override dac_read_search setgid setuid sys_ptrace sys_resource };
    class dir { read getattr search open write };
    class lnk_file { create unlink };
    class tcp_socket create_stream_socket_perms;
    class filesystem { getattr };
')

## TODO Move this
allow cdp_salt_t lib_t:lnk_file { create unlink };
allow cdp_salt_t postgresql_unit_file_t:service { status };
allow cdp_salt_t pstore_t:filesystem { getattr };
allow cdp_salt_t self:capability { dac_override dac_read_search setgid setuid sys_ptrace sys_resource };
allow cdp_salt_t self:dir { write };
allow cdp_salt_t self:netlink_route_socket { nlmsg_write };
allow cdp_salt_t self:netlink_selinux_socket { bind create };
allow cdp_salt_t self:passwd { rootok };
allow cdp_salt_t self:process { execmem setrlimit setsched };
allow cdp_salt_t self:tcp_socket create_stream_socket_perms;
allow cdp_salt_t tomcat_t:process { signull };
allow cdp_salt_t tracefs_t:filesystem { getattr };
allow cdp_salt_t var_log_t:dir { create };

allow cdp_salt_systemctl_t certmonger_unit_file_t:service { start status };
allow cdp_salt_systemctl_t ipa_dnskey_unit_file_t:service { start status stop };
allow cdp_salt_systemctl_t ipa_otpd_unit_file_t:service { start status stop };
allow cdp_salt_systemctl_t postgresql_unit_file_t:service { status };
allow cdp_salt_systemctl_t self:capability { sys_resource };
allow cdp_salt_systemctl_t self:process { setrlimit };
## TODO End


abrt_manage_cache(cdp_salt_t)


apache_exec(cdp_salt_t)
apache_exec_sys_script(cdp_salt_t)
apache_manage_config(cdp_salt_t)

apache_systemctl(cdp_salt_systemctl_t)


auth_login_pgm_domain(cdp_salt_t)
auth_manage_login_records(cdp_salt_t)
auth_read_passwd_file(cdp_salt_t)
auth_read_shadow(cdp_salt_t)

auth_etc_filetrans_shadow(cdp_salt_systemctl_t)


bind_manage_cache(cdp_salt_t)
bind_manage_config_dirs(cdp_salt_t)
bind_manage_config(cdp_salt_t)
bind_manage_zone_dirs(cdp_salt_t)
bind_manage_zone(cdp_salt_t)
bind_read_dnssec_keys(cdp_salt_t)
bind_signal(cdp_salt_t)

bind_read_state(cdp_salt_systemctl_t)
bind_systemctl(cdp_salt_systemctl_t)


certmonger_dbus_chat(cdp_salt_t)
certmonger_manage_lib_files(cdp_salt_t)
certmonger_read_lib_files(cdp_salt_t)


chronyd_read_keys(cdp_salt_t)

chronyd_systemctl(cdp_salt_systemctl_t)


clock_read_adjtime(cdp_salt_t)


corecmd_exec_bin(cdp_salt_t)
corecmd_exec_shell(cdp_salt_t)
corecmd_manage_bin_files(cdp_salt_t)
corecmd_mmap_bin_files(cdp_salt_t)
corecmd_shell_entry_type(cdp_salt_t)

corecmd_exec_bin(cdp_salt_systemctl_t)
corecmd_exec_shell(cdp_salt_systemctl_t)


corenet_tcp_bind_generic_node(cdp_salt_t)
corenet_tcp_bind_salt_port(cdp_salt_t)
corenet_tcp_connect_dns_port(cdp_salt_t)
corenet_tcp_connect_http_cache_port(cdp_salt_t)
corenet_tcp_connect_kerberos_port(cdp_salt_t)
corenet_tcp_connect_ldap_port(cdp_salt_t)
corenet_tcp_connect_salt_port(cdp_salt_t)
corenet_tcp_sendrecv_salt_port(cdp_salt_t)
corenet_udp_bind_generic_node(cdp_salt_t)


cups_filetrans_named_content(cdp_salt_t)
cups_read_rw_config(cdp_salt_t)


dbus_read_config(cdp_salt_t)
dbus_read_lib_files(cdp_salt_t)
dbus_read_pid_sock_files(cdp_salt_t)
dbus_stream_connect_system_dbusd(cdp_salt_t)
dbus_system_bus_client(cdp_salt_t)


dev_getattr_fs(cdp_salt_t)
dev_getattr_sysfs_fs(cdp_salt_t)
dev_list_sysfs(cdp_salt_t)
dev_read_kmsg(cdp_salt_t)
dev_read_nvme(cdp_salt_t)
dev_read_rand(cdp_salt_t)
dev_read_sysfs(cdp_salt_t)
dev_rw_nvme(cdp_salt_t)


dirsrv_dontaudit_list_tmpfs_dirs(cdp_salt_t)
dirsrv_manage_config(cdp_salt_t)
dirsrv_manage_log(cdp_salt_t)
dirsrv_manage_var_lib(cdp_salt_t)
dirsrv_manage_var_run(cdp_salt_t)
dirsrv_read_share(cdp_salt_t)
dirsrv_stream_connect(cdp_salt_t)

dirsrv_systemctl(cdp_salt_systemctl_t)


dmesg_exec(cdp_salt_t)


dmidecode_exec(cdp_salt_t)


files_list_kernel_modules(cdp_salt_t)
files_list_var(cdp_salt_t)
files_manage_all_pid_dirs(cdp_salt_t)
files_manage_default_dirs(cdp_salt_t)
files_manage_default_files(cdp_salt_t)
files_manage_etc_dirs(cdp_salt_t)
files_manage_etc_files(cdp_salt_t)
files_manage_etc_symlinks(cdp_salt_t)
files_manage_generic_locks(cdp_salt_t)
files_manage_generic_tmp_dirs(cdp_salt_t)
files_manage_generic_tmp_files(cdp_salt_t)
files_manage_isid_type_dirs(cdp_salt_t)
files_manage_isid_type_files(cdp_salt_t)
files_manage_system_conf_files(cdp_salt_t)
files_manage_usr_dirs(cdp_salt_t)
files_manage_usr_files(cdp_salt_t)
files_manage_var_files(cdp_salt_t)
files_map_generic_tmp_files(cdp_salt_t)
files_map_read_etc_files(cdp_salt_t)
files_read_var_files(cdp_salt_t)
files_relabel_etc_files(cdp_salt_t)
files_relabel_var_lib_dirs(cdp_salt_t)
files_relabelto_usr_files(cdp_salt_t)
files_search_locks(cdp_salt_t)

files_manage_etc_symlinks(cdp_salt_systemctl_t)


fs_exec_tmpfs_files(cdp_salt_t)
fs_getattr_cgroup(cdp_salt_t)
fs_getattr_hugetlbfs(cdp_salt_t)
fs_getattr_tmpfs(cdp_salt_t)
fs_getattr_xattr_fs(cdp_salt_t)
fs_list_cgroup_dirs(cdp_salt_t)
fs_manage_tmpfs_dirs(cdp_salt_t)
fs_manage_tmpfs_files(cdp_salt_t)
fs_read_cgroup_files(cdp_salt_t)
files_read_default_files(cdp_salt_t)
fs_read_dos_files(cdp_salt_t)
fs_relabel_tmpfs_dirs(cdp_salt_t)
fs_search_dos(cdp_salt_t)

fs_getattr_tmpfs(cdp_salt_systemctl_t)
fs_getattr_xattr_fs(cdp_salt_systemctl_t)


fsadm_manage_pid(cdp_salt_t)


list_dirs_pattern(cdp_salt_t, NetworkManager_initrc_exec_t, NetworkManager_initrc_exec_t)
list_dirs_pattern(cdp_salt_t, games_exec_t, games_exec_t)
manage_dirs_pattern(cdp_salt_t, NetworkManager_etc_t, NetworkManager_etc_t)
manage_dirs_pattern(cdp_salt_t, cdp_httpd_cert_t, cdp_httpd_cert_t)
manage_dirs_pattern(cdp_salt_t, dirsrv_tmpfs_t, dirsrv_tmpfs_t)
manage_dirs_pattern(cdp_salt_t, dirsrv_var_lock_t, dirsrv_var_lock_t)
manage_dirs_pattern(cdp_salt_t, pkcs11_modules_conf_t, pkcs11_modules_conf_t)
manage_dirs_pattern(cdp_salt_t, pki_log_t, pki_log_t)
manage_dirs_pattern(cdp_salt_t, realmd_var_lib_t, realmd_var_lib_t)
manage_dirs_pattern(cdp_salt_t, root_t, root_t)
manage_dirs_pattern(cdp_salt_t, system_cron_spool_t, system_cron_spool_t)
manage_dirs_pattern(cdp_salt_t, var_lib_t, var_lib_t)
manage_dirs_pattern(cdp_salt_t, var_lock_t, var_lock_t)
manage_dirs_pattern(cdp_salt_t, var_run_t, var_run_t)
manage_files_pattern(cdp_salt_t, NetworkManager_etc_t, NetworkManager_etc_t)
manage_files_pattern(cdp_salt_t, cdp_httpd_cert_t, cdp_httpd_cert_t)
manage_files_pattern(cdp_salt_t, dirsrv_tmpfs_t, dirsrv_tmpfs_t)
manage_files_pattern(cdp_salt_t, dirsrv_var_lock_t, dirsrv_var_lock_t)
manage_files_pattern(cdp_salt_t, kadmind_log_t, kadmind_log_t)
manage_files_pattern(cdp_salt_t, pkcs11_modules_conf_t, pkcs11_modules_conf_t)
manage_files_pattern(cdp_salt_t, pki_log_t, pki_log_t)
manage_files_pattern(cdp_salt_t, realmd_var_lib_t, realmd_var_lib_t)
manage_files_pattern(cdp_salt_t, system_cron_spool_t, system_cron_spool_t)
manage_files_pattern(cdp_salt_t, var_lib_t, var_lib_t)
manage_files_pattern(cdp_salt_t, var_run_t, var_run_t)
manage_lnk_files_pattern(cdp_salt_t, var_lib_t, var_lib_t)
manage_sock_files_pattern(cdp_salt_t, var_run_t, var_run_t)
read_files_pattern(cdp_salt_t, kmod_var_run_t, kmod_var_run_t)
read_files_pattern(cdp_salt_t, sshd_key_t, sshd_key_t)
relabel_dirs_pattern(cdp_salt_t, ipa_var_run_t, ipa_var_run_t)
relabel_dirs_pattern(cdp_salt_t, pki_log_t, pki_log_t)
relabel_dirs_pattern(cdp_salt_t, pki_tomcat_cert_t, pki_tomcat_cert_t)
relabel_dirs_pattern(cdp_salt_t, pki_tomcat_etc_rw_t, pki_tomcat_etc_rw_t)
relabel_dirs_pattern(cdp_salt_t, pki_tomcat_log_t, pki_tomcat_log_t)
relabel_dirs_pattern(cdp_salt_t, pki_tomcat_var_lib_t, pki_tomcat_var_lib_t)
relabel_dirs_pattern(cdp_salt_t, var_lib_t, var_lib_t)
relabel_files_pattern(cdp_salt_t, dirsrv_config_t, dirsrv_config_t)
relabel_files_pattern(cdp_salt_t, hostname_etc_t, hostname_etc_t)
relabel_files_pattern(cdp_salt_t, httpd_config_t, httpd_config_t)
relabel_files_pattern(cdp_salt_t, ipa_var_lib_t, ipa_var_lib_t)
relabel_files_pattern(cdp_salt_t, named_conf_t, named_conf_t)
relabel_files_pattern(cdp_salt_t, pki_tomcat_cert_t, pki_tomcat_cert_t)
relabel_files_pattern(cdp_salt_t, pki_tomcat_etc_rw_t, pki_tomcat_etc_rw_t)
relabel_files_pattern(cdp_salt_t, pki_tomcat_log_t, pki_tomcat_log_t)
relabel_files_pattern(cdp_salt_t, pki_tomcat_var_lib_t, pki_tomcat_var_lib_t)
relabel_files_pattern(cdp_salt_t, realmd_var_lib_t, realmd_var_lib_t)
relabel_files_pattern(cdp_salt_t, sssd_conf_t, sssd_conf_t)
relabel_files_pattern(cdp_salt_t, tmp_t, tmp_t)
relabel_files_pattern(cdp_salt_t, var_lib_t, var_lib_t)
relabel_files_pattern(cdp_salt_t, var_lock_t, var_lock_t)
relabel_files_pattern(cdp_salt_t, var_run_t, var_run_t)
relabel_lnk_files_pattern(cdp_salt_t, cert_t, cert_t)
relabel_lnk_files_pattern(cdp_salt_t, pki_tomcat_etc_rw_t, pki_tomcat_etc_rw_t)
relabel_lnk_files_pattern(cdp_salt_t, pki_tomcat_var_lib_t, pki_tomcat_var_lib_t)
relabel_lnk_files_pattern(cdp_salt_t, var_lib_t, var_lib_t)
setattr_dirs_pattern(cdp_salt_t, pki_tomcat_cert_t, pki_tomcat_cert_t)

setattr_files_pattern(cdp_salt_t, pki_tomcat_cert_t, pki_tomcat_cert_t)

search_dirs_pattern(cdp_salt_systemctl_t, entropyd_t, entropyd_t)
read_files_pattern(cdp_salt_systemctl_t, unconfined_service_t, unconfined_service_t)
search_dirs_pattern(cdp_salt_systemctl_t, unconfined_service_t, unconfined_service_t)


fstools_exec(cdp_salt_t)


gnome_manage_cache_home_dir(cdp_salt_t)
gnome_manage_generic_cache_files(cdp_salt_t)
gnome_manage_home_config(cdp_salt_t)
gnome_manage_home_config_dirs(cdp_salt_t)
gnome_read_generic_data_home_dirs(cdp_salt_t)


gpg_exec(cdp_salt_t)


gssproxy_systemctl(cdp_salt_systemctl_t)


hostname_exec(cdp_salt_t)


init_exec_script_files(cdp_salt_t)
init_manage_config_transient_files(cdp_salt_t)
init_read_state(cdp_salt_t)
init_script_file_entry_type(cdp_salt_t)
init_start(cdp_salt_t)
init_stream_connectto(cdp_salt_t)

init_access_check(cdp_salt_systemctl_t)
init_read_script_files(cdp_salt_systemctl_t)
init_start(cdp_salt_systemctl_t)
init_status(cdp_salt_systemctl_t)
init_stop(cdp_salt_systemctl_t)


insights_client_read_config(cdp_salt_t)


ipa_manage_lib(cdp_salt_t)
ipa_manage_pid_files(cdp_salt_t)


iptables_exec(cdp_salt_t)


kdump_read_config(cdp_salt_t)


kerberos_admin(cdp_salt_t, object_r)


kernel_dgram_send(cdp_salt_t)
kernel_getattr_debugfs(cdp_salt_t)
kernel_read_net_sysctls(cdp_salt_t)
kernel_read_network_state(cdp_salt_t)
kernel_read_proc_files(cdp_salt_t)
kernel_read_ring_buffer(cdp_salt_t)
kernel_read_software_raid_state(cdp_salt_t)
kernel_search_network_sysctl(cdp_salt_t)
kernel_signal(cdp_salt_t)

kernel_read_proc_files(cdp_salt_systemctl_t)


libs_exec_ldconfig(cdp_salt_t)
libs_ldconfig_exec_entry_type(cdp_salt_t)
libs_manage_lib_dirs(cdp_salt_t)
libs_manage_lib_files(cdp_salt_t)


logging_create_devlog_dev(cdp_salt_t)
logging_manage_generic_logs(cdp_salt_t)
logging_manage_syslog_config(cdp_salt_t)
logging_mmap_journal(cdp_salt_t)
logging_read_audit_config(cdp_salt_t)
logging_read_syslog_config(cdp_salt_t)

logging_read_syslog_pid(cdp_salt_systemctl_t)


mandb_map_cache_files(cdp_salt_t)


can_exec(cdp_salt_t, crontab_exec_t)
can_exec(cdp_salt_t, default_t)
can_exec(cdp_salt_t, dirsrv_exec_t)
can_exec(cdp_salt_t, ipa_custodia_dmldap_exec_t)
can_exec(cdp_salt_t, ipa_custodia_ra_agent_exec_t)
can_exec(cdp_salt_t, semanage_exec_t)
can_exec(cdp_salt_t, setsebool_exec_t)
can_exec(cdp_salt_t, showmount_exec_t)
can_exec(cdp_salt_t, sshd_exec_t)
can_exec(cdp_salt_t, systemd_notify_exec_t)
can_exec(cdp_salt_t, tomcat_exec_t)


miscfiles_manage_generic_cert_dirs(cdp_salt_t)
miscfiles_manage_generic_cert_files(cdp_salt_t)
miscfiles_map_generic_certs(cdp_salt_t)
miscfiles_read_generic_certs(cdp_salt_t)
miscfiles_read_hwdata(cdp_salt_t)
miscfiles_relabel_generic_cert(cdp_salt_t)


modutils_list_module_config(cdp_salt_t)


mta_read_aliases(cdp_salt_t)


networkmanager_read_conf(cdp_salt_t)

networkmanager_systemctl(cdp_salt_systemctl_t)


nis_use_ypbind_uncond(cdp_salt_t)


oddjob_systemctl(cdp_salt_systemctl_t)


opendnssec_manage_var_files(cdp_salt_t)
opendnssec_read_config(cdp_salt_t)


pki_manage_tomcat_cert(cdp_salt_t)
pki_manage_tomcat_etc_rw(cdp_salt_t)
pki_manage_tomcat_lib(cdp_salt_t)
pki_manage_tomcat_log(cdp_salt_t)

pki_tomcat_systemctl(cdp_salt_systemctl_t)


postfix_exec_master(cdp_salt_t)
postfix_read_config(cdp_salt_t)


# TODO Fix this
#postgresql_exec(cdp_salt_t)
#postgresql_manage_db(cdp_salt_t)
# TODO end
postgresql_run(cdp_salt_t, object_r)



raid_access_check_mdadm(cdp_salt_t)


rhsmcertd_read_config_files(cdp_salt_t)


rpc_read_exports(cdp_salt_t)


rpm_entry_type(cdp_salt_t)
rpm_exec(cdp_salt_t)
rpm_manage_db(cdp_salt_t)


rsync_exec(cdp_salt_t)


samba_manage_config(cdp_salt_t)
samba_manage_var_dirs(cdp_salt_t)
samba_search_pid(cdp_salt_t)

samba_systemctl(cdp_salt_systemctl_t)


selinux_get_enforce_mode(cdp_salt_t)
selinux_load_policy(cdp_salt_t)
selinux_set_enforce_mode(cdp_salt_t)
selinux_set_generic_booleans(cdp_salt_t)


seutil_exec_loadpolicy(cdp_salt_t)
seutil_exec_setfiles(cdp_salt_t)
seutil_get_semanage_read_lock(cdp_salt_t)
seutil_get_semanage_trans_lock(cdp_salt_t)
seutil_manage_config(cdp_salt_t)
seutil_manage_config_dirs(cdp_salt_t)
seutil_manage_file_contexts(cdp_salt_t)
seutil_manage_module_store(cdp_salt_t)
seutil_read_default_contexts(cdp_salt_t)
seutil_read_file_contexts(cdp_salt_t)
seutil_search_default_contexts(cdp_salt_t)


ssh_exec(cdp_salt_t)

ssh_systemctl(cdp_salt_systemctl_t)


sssd_manage_config(cdp_salt_t)
sssd_read_public_files(cdp_salt_t)
sssd_run_stream_connect(cdp_salt_t)
sssd_search_lib(cdp_salt_t)
sssd_stream_connect(cdp_salt_t)

sssd_systemctl(cdp_salt_systemctl_t)


su_exec(cdp_salt_t)


sudo_exec(cdp_salt_t)


sysnet_exec_ifconfig(cdp_salt_t)
sysnet_manage_config(cdp_salt_t)
sysnet_read_dhcp_config(cdp_salt_t)
sysnet_relabelto_net_conf(cdp_salt_t)


systemd_dbus_chat_hostnamed(cdp_salt_t)
systemd_manage_all_unit_files(cdp_salt_t)
systemd_manage_unit_dirs(cdp_salt_t)
systemd_relabel_unit_files(cdp_salt_t)
systemd_tmpfiles_exec(cdp_salt_t)

systemd_config_generic_services(cdp_salt_systemctl_t)
systemd_exec_systemctl(cdp_salt_systemctl_t)
systemd_read_unit_files(cdp_salt_systemctl_t)


term_getattr_pty_fs(cdp_salt_t)


tomcat_systemctl(cdp_salt_systemctl_t)


tuned_read_etc_files(cdp_salt_t)


udev_exec(cdp_salt_t)


userdom_manage_admin_dirs(cdp_salt_t)
userdom_manage_admin_files(cdp_salt_t)
userdom_manage_tmp_dirs(cdp_salt_t)
userdom_manage_tmp_files(cdp_salt_t)
userdom_map_tmp_files(cdp_salt_t)


usermanage_domtrans_passwd(cdp_salt_t)
